<mat-tab-group class="mt-10" mat-align-tabs="start">
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon svgIcon="mat_outline:calendar_view_week"></mat-icon>
            <span>Clipboard</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="mat_outline:task"></mat-icon>
            <span>Planner</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="mat_outline:upcoming"></mat-icon>
            <span>Queue(0)</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="mat_outline:edit_calendar"></mat-icon>
            <span>Timeclock Editor</span>
        </ng-template>
    </mat-tab>
</mat-tab-group>