<div class="flex shadow-none mx-3 my-5 flex-col flex-auto h-auto">
    <app-breadcrumb></app-breadcrumb>
    <app-sub-menu class="mt-3" background="bg-white" (changeTab)="tabChange($event)"></app-sub-menu>
        <mat-drawer-container class="flex-auto">
          <mat-drawer-content class="flex flex-col">
            <div class="flex-auto">
                <div *ngIf="wageAndHour">
                    <app-wage-and-hour></app-wage-and-hour>
                </div>
                 <div *ngIf="holidays">
                    <app-holidays></app-holidays>
                </div>
                <div *ngIf="payPeriod">
                    <app-pay-period></app-pay-period>
                </div>
                <div *ngIf="department">
                    <app-department></app-department>
                </div>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
</div>
