<h3 mat-dialog-title>{{ headerTitle }}</h3>
<form [formGroup]="personalActivities" (ngSubmit)="submitForm()">
    <div mat-dialog-content>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Group Name (can't be changed after created)</mat-label>
            <input matInput placeholder="" formControlName="groupName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Group Descriptions</mat-label>
            <textarea matInput placeholder="" formControlName="groupDescription"></textarea>
        </mat-form-field> 
    </div>
    <div mat-dialog-actions [align]="'end'">
        <button mat-button type="button" (click)="closeDialog()">Cancel</button>
        <button mat-button  type="submit" [disabled]="!personalActivities.valid">Add</button>
    </div>
</form>
 