<mat-card appearance="raised" class="parent">
    <mat-card-content>
       <div>
            <div style="display:flex">
                <!-- <form [formGroup]="holidaysForm"> -->
                    <!-- <mat-form-field class="m-t-15" appearance="outline"> -->
                        <!-- <mat-label>Select your car (required)</mat-label> -->
                        <select required >
                            <option label="2022"></option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    <!-- </mat-form-field> -->
               <!-- </form> -->
            </div>
       </div>
    </mat-card-content>
</mat-card>

