.parent{
    @apply 
    max-w-3xl 
    p-6 
    bg-white 
    border 
    border-gray-200 
    rounded-lg 
    shadow-md 
    dark:bg-gray-800 
    dark:border-gray-100 ;
    margin-top: 10px;
}