<div class="flex shadow-none mx-3 my-5 flex-col flex-auto min-w-0">
    <app-breadcrumb></app-breadcrumb>
    <app-sub-menu></app-sub-menu>
    <!-- Main -->
    <div class="flex-auto relative">
        <mat-sidenav-container [hasBackdrop]="false" >
            <mat-sidenav class="w-90 min-h-90 h-full border-r-2 z-20 border-opacity-10 border-black border-solid shadow-none" mode="push" [opened]="sideNav">
                <mat-toolbar class="bg-gray-200">
                    <mat-toolbar-row class="flex-row">
                        <div class="basis-11/12">
                            <button mat-flat-button
                            class="bg-transparent shadow-none hover:bg-orange-50 text-orange-500"
                            >
                            Favorite Tasks
                            </button>
                            <button mat-flat-button
                                class="bg-transparent shadow-none hover:bg-orange-50 text-orange-500"
                                >
                                All Tasks
                            </button>
                        </div>
                        <button mat-mini-fab
                            class="bg-transparent shadow-none text-orange-500"
                            (click)="showTaskList()"
                            >
                            <mat-icon svgIcon="mat_outline:close"></mat-icon>
                        </button>
                    </mat-toolbar-row>
                  </mat-toolbar>
                <app-clipboard-tasklist></app-clipboard-tasklist>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="h-400 min-h-400 max-h-400 border-gray-300 rounded-2xl">
                    <div class="bg-white pb-3 border-b flex justify-between">
                        <div>
                            <button mat-flat-button 
                            class="bg-transparent ml-4 mt-3 text-orange-500"
                            (click)="showTaskList()"
                            >
                                <mat-icon svgIcon="mat_outline:add_task"></mat-icon>
                                Add Task to Queue
                            </button>
                            <button mat-flat-button class="bg-transparent text-orange-500" aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon svgIcon="mat_outline:refresh"></mat-icon>
                                Refresh
                            </button>
                        </div>
                        <div class="mt-4">
                            <mat-chip-list multiple>
                                <mat-chip (click)="toggleSelectAll()" [selected]="selectAll">All</mat-chip>
                                <mat-chip (click)="toggleSelectAssigned()" [selected]="selectAssigned">Assigned (0)</mat-chip>
                                <mat-chip (click)="toggleSelectFavorite()" [selected]="selectFavorite">Favorite (0)</mat-chip>
                                <mat-chip (click)="toggleSelectOneTime()" [selected]="selectOneTime">Onetime (0)</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                    <div class="grid grid-cols-4 gap-4 ml-5 mt-4">
                        <app-clipboard-tasklist-item favorite="true"></app-clipboard-tasklist-item>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
