<!-- <fuse-card style="width: 100px; height:100px;">
    <div >helllo</div>
</fuse-card> -->


<div class="parent"
style="margin-top: 10px;">
    <div style="font-size: 17px;"><strong>Supported Countries</strong></div><br>
    <div *ngFor="let country of countries">
        <div  style="width: 200px; justify-content: space-between; display: flex;" [align]="'row'">
            <div  [align]="'left'">
                <label class="checkbox-label">{{country}}</label>
            </div>
            <div [align]="'right'">
                <mat-checkbox class="checkbox" labelPosition="before" mat-checkbox-layout ></mat-checkbox>
            </div>
        </div>
    </div>
</div>
