
<mat-card appearance="raised" class="parent">
    <mat-card-content>
        <div style="font-size: 17px;"><strong>Supported Countries</strong></div><br>
        <!-- <div *ngFor="let country of countryList" style="margin-left:30px ;">
            <div  class="checkbox-group">
                <div  [align]="'left'">
                    <label 
                    style="font-size: 15px; font-weight: 300;"
                    class="checkbox-label">
                        {{country.name}}
                    </label>
                </div>
                <div [align]="'right'" style="margin-top: 1px;">
                    <mat-checkbox class="" labelPosition="before" mat-checkbox-layout ></mat-checkbox>
                </div>
            </div>
        </div><br> -->
        <!-- <mat-selection-list [compareWith]="compareServiceTypes" [(ngModel)]="data" multiple>
            <mat-list-option checkboxPosition="before" [value]="country" *ngFor="let country of countryList; trackBy: country.name;">
                {{ country.name }}
            </mat-list-option>
        </mat-selection-list> -->
        <mat-selection-list #countrySelection style="width: 50%;" (selectionChange)="onSelectedChange($event)">
            <mat-list-option class="" *ngFor="let country of countryList">
                {{country.name}}
            </mat-list-option>
        </mat-selection-list><br>

        <div style=" display: flex; align-items: center;">
            <button mat-button (click)="addCountry()">
                <div class="add-button" style=" display: flex;">
                    <div class="text-center button-icon"><mat-icon >add_circle_outline</mat-icon></div>
                    <div class="button-label" style="margin-top: 8px;"> Add country</div> 
                </div>
            </button>
            <button mat-button disabled="{{!isShowClearSelection}}">
                <div class="delete-button" style=" display: flex; "  >
                    <div class="text-center button-icon"><mat-icon>delete</mat-icon></div>
                    <div class="button-label" style="margin-top: 8px;"> Remove Selected Country</div> 
                </div>
            </button>
            <button *ngIf="isShowClearSelection" mat-button>
                <div class="" style=" display: flex; ">
                    <div class="button-label text-center"> Clear Selection</div> 
                </div>
            </button>
            <div *ngIf="isShowSelector" style="margin-top: 10px;">
                <form class="example-form m-t-10">
                    <mat-form-field class="example-full-width" appearance="fill" style="width: 200px;">
                        <input type="text"
                            placeholder="Search and Add Country"
                            aria-label="Number"
                            matInput
                            [formControl]="myControl"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (selectionchange)="onSelectedChange($event)">
                            <mat-option *ngFor="let option of countryOptions$ | async " [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>

