<fuse-card 
class="flex flex-col rounded-sm w-full m-2 filter-list">
    <div class="m-8"> 
        <span class="text-xl">
            To add a new meeting. Click Save New Meeting ↓ to save.
        </span>
            <div>
                <div class="form-floating mb-3 xl:w-96">
                    <input type="email" class="form-control custom-input" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="text-gray-700 text-lg">Meeting Task</label>
                </div>
                </div>
            </div>
</fuse-card>